<div class="card m-3">
    <h1 class="card-header text-center fw-bold">{{'createPassword.titleLabel'|translate}}</h1>
    <div class="card-body">
        <form [formGroup]="createNewPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6 my-2">
                    <label>{{'createPassword.password' | translate}}</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="form.password.errors?'is-invalid':'is-valid'" />

                    <div *ngIf="form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">{{'createPassword.passwordErrorMessage1' |
                            translate}}</div>
                        <div *ngIf="form.password.errors.pattern">{{'createPassword.passwordErrorMessage2' | translate}}
                        </div>
                    </div>
                </div>

                <div class="form-group col-6 my-2">
                    <label class="my-2">{{'createPassword.confirmPassword' | translate}}</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="form.confirmPassword.errors?'is-invalid':'is-valid'" />
                    <div *ngIf="form.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="form.confirmPassword.errors.required">
                            {{'createPassword.confirmPasswordErrorMessage1' |
                            translate}}</div>
                        <div *ngIf="form.confirmPassword.errors.mustMatch">
                            {{'createPassword.confirmPasswordErrorMessage2' |
                            translate}}</div>
                        <div *ngIf="form.confirmPassword.errors.pattern">{{'createPassword.passwordErrorMessage2' |
                            translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1">{{'createPassword.createButtonLabel'|translate}}</button>
                <button class="btn btn-danger mx-2" type="reset"
                    (click)="createNewPasswordForm.reset()">{{'createPassword.resetButtonLabel'|translate}}</button>
            </div>
        </form>
        <div class="row">
            <p>Have an account? <a routerLink="/auth/login">Login</a></p>
        </div>
    </div>

</div>