<div class="row">
    <div class="col-12 col-md-4 col-lg-3">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{'byKhasraNo.Select_District' | translate}} :</mat-label>
                <select matNativeControl [placeholder]="'Select'" [(ngModel)]="selectedDistrictId" name="district">
                    <option value="Select">{{'common.Select' | translate}}</option>
                    <option *ngFor="let d of districtList" [value]="d.id">
                        {{userLang=='hi'?d.hindi:d.english}}</option>
                </select>
            </mat-form-field>
        </p>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{'byKhasraNo.Enter_Khasra' | translate}} :</mat-label>
                <input matInput [(ngModel)]="khasraNo" name="khasraNo"
                    placeholder="{{'byKhasraNo.Enter_Khasra' | translate}}">
            </mat-form-field>
        </p>
    </div>

</div> <!--  form row end -->
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="searchDeed()">{{'common.Search' | translate}}</button>
    </div>
</div>