<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 card">
            <h2 class="text-center card-header">Reset Password</h2>
            <div *ngIf="message" class="alert text-center" [ngClass]="messageIsSuccess?'alert-success':'alert-danger'">
                {{message}}
            </div>
            <form (submit)="onSubmit()">
                <div class="mb-3">
                    <label for="searchValue" class="form-label">Mobile Number</label>
                    <input type="text" name="searchValue" [(ngModel)]="searchValue" class="form-control"
                        id="searchValue" placeholder="Mobile Number" [ngClass]="{ 'is-invalid': isValidValue}"
                        required="required">
                    <div *ngIf="isValidValue" class="invalid-feedback">
                        <div *ngIf="isValidValue">Invalid value</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Reset Password</button>
            </form>
            <div class="row m-2">
                <div class="col-12">
                    <p>Have an Account? <a routerLink="/auth/login">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>