<div class="row">
    <div class="col-12 col-md-3 d-none d-md-block">
        <section class="card">
            <div class="card-header text-center h4">Security Tips </div>
            <div class="card-body">
                <ul>
                    <li>Make sure your internet connection is secure</li>
                    <li>Choose strong passwords</li>
                    <li>Do not share your password and OTP with any one</li>
                    <li>Keep software and operating systems up-to-date</li>
                    <li>Be careful where you click</li>
                    <li>Use a good antivirus and keep it up-to-date</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-12 col-md-6">
        <router-outlet></router-outlet>
    </div>

    <div class="col-12 col-md-3 d-none d-md-block">
        <section class="card">
            <div class="card-header text-center h4">Information </div>
            <div class="card-body">
                <ul>
                    <li>Make sure your internet connection is secure</li>
                    <li>Choose strong passwords</li>
                    <li>Do not share your password and OTP with any one</li>
                    <li>Keep software and operating systems up-to-date</li>
                    <li>Be careful where you click</li>
                    <li>Use a good antivirus and keep it up-to-date</li>
                </ul>
            </div>
        </section>

    </div>